[training]
seed = 0
gold_preproc = false
# Limitations on training document length or number of examples.
max_length = 500
limit = 0
patience = 10000
eval_frequency = 400
dropout = 0.1
init_tok2vec = null
max_epochs = 0
max_steps = 0
orth_variant_level = 0.0

scores = ["speed", "tags_acc", "uas", "las", "ents_f"]
score_weights = {"las": 0.4, "ents_f": 0.4, "tags_acc": 0.2}

base_model = null          
use_pytorch_for_gpu_memory = true
omit_extra_lookups = false
raw_text = null
tag_map = null
vectors = null
morph_rules = null

batch_by = "padded"
batch_size = 2000
accumulate_gradient = 3
discard_oversize = true
eval_batch_size = 256

[training.optimizer]
@optimizers = "Adam.v1"
beta1 = 0.9
beta2 = 0.999
eps = 1e-8
L2_is_weight_decay = true
L2 = 0.01
grad_clip = 1.0
use_averages = false

[training.optimizer.learn_rate]
@schedules = "warmup_linear.v1"
warmup_steps = 250
total_steps = 20000
initial_rate = 5e-5


[nlp]
lang = "en"
stop_words = []
lex_attr_getters = {}
pipeline = ["transformer", "tagger", "parser", "ner"]

[nlp.tokenizer]
@tokenizers = "spacy.Tokenizer.v1"

[nlp.lemmatizer]
@lemmatizers = "spacy.Lemmatizer.v1"

[nlp.writing_system]
direction = "ltr"
has_case = true
has_letters = true

[components]

[components.transformer]
factory = "transformer"
max_batch_items = 4096

[components.tagger]
factory = "tagger"

[components.parser]
factory = "parser"
learn_tokens = false
min_action_freq = 1

[components.ner]
factory = "ner"
learn_tokens = false
min_action_freq = 1

# This loads the Huggingface Transformers model. The transformer is applied
# to a batch of Doc objects, which are preprocessed into Span objects to support
# longer documents.
[components.transformer.model]
@architectures = "spacy-transformers.TransformerModel.v3"
name = "roberta-base"
tokenizer_config = {"use_fast": true}
transformer_config = {"output_attentions": false}

[components.transformer.model.get_spans]
# You can set a custom strategy for preparing spans from the batch, e.g. you
# can predict over sentences. Here we predict over the whole document.
@span_getters = "strided_spans.v1"
window = 128
stride = 96

[components.tagger.model]
@architectures = "spacy.Tagger.v1"

[components.parser.model]
@architectures = "spacy.TransitionBasedParser.v1"
nr_feature_tokens = 8
hidden_width = 64
maxout_pieces = 2
use_upper = false

[components.ner.model]
@architectures = "spacy.TransitionBasedParser.v1"
nr_feature_tokens = 3
hidden_width = 64
maxout_pieces = 2
use_upper = false

# These "listener" layers are connected to the transformer pipeline component
# in order to achieve multi-task learning across the pipeline.
# They rely on the transformer to predict over the batch and cache the result
# and callback. The gradient for the transformers will be accumulated by
# the listeners, and then the last listener will call the backprop callback.
[components.tagger.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0

[components.parser.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0

[components.ner.model.tok2vec]
@architectures = "spacy-transformers.TransformerListener.v1"
grad_factor = 1.0

# These pooling layers control how the token vectors are calculated from
# the word pieces. The reduce_mean layer averages the wordpieces, so if you
# have one token aligned to multiple wordpieces (as is expected), the token's
# vector will be the average of the wordpieces. The most obvious alternative
# is reduce_last.v1, which would just use the last wordpiece. You could also
# try reduce_first, reduce_sum or even reduce_max.

[components.tagger.model.tok2vec.pooling]
@layers = "reduce_mean.v1"

[components.parser.model.tok2vec.pooling]
@layers = "reduce_mean.v1"

[components.ner.model.tok2vec.pooling]
@layers = "reduce_mean.v1"
